/*
 * @description 排版
 * @author aodazhang 2022.05.10
 */
@import '../setting/scssVariable.scss';
@import '../mixins/index.scss';

/****************************** 一.字号 ******************************/

// 命名规则：fs-数值
// 示例：fs-12 -> font-size: 12px;
@for $i from 12 through $atomic-font-size {
  [fs-#{$i}] {
    font-size: #{$i}px;
  }
}

/****************************** 二.字重 ******************************/

// 命名规则：fw-类型
// 示例：fw-400 -> font-weight: 400;
@each $key, $value in $atomic-font-weight {
  [fw-#{$key}] {
    font-weight: $value;
  }
}

/****************************** 三.字行高 ******************************/

// 命名规则：lh-数值
// 示例：lh-15 -> line-height: 1.5;
@each $key, $value in $atomic-line-height {
  [lh-#{$key}] {
    line-height: $value;
  }
}

/****************************** 四.字对齐 ******************************/

// 命名规则：ta-类型
// 示例：ta-s -> text-align: start;
@each $key, $value in $atomic-text-align {
  [ta-#{$key}] {
    text-align: $value;
  }
}

/****************************** 五.字色 ******************************/

// 命名规则：co-数值
// 示例：co-1 -> color: var(--aoda-color1);
@for $i from 1 through $atomic-color {
  [co-#{$i}] {
    color: var(--aoda-color#{$i});
  }
}

/****************************** 六.字指定行数 ******************************/

// 命名规则：nw-数值
// 示例：nw-1 -> @font-nowrap(1);
@for $i from 1 through $atomic-line {
  [nw-#{$i}] {
    @include font-nowrap($i);
  }
}
