/*
 * @description css变量
 * @author aodazhang 2022.05.10
 */

:root {
  // 1.颜色
  --aoda-color1: #fff;
  --aoda-color2: #333;
  --aoda-color3: #666;
  --aoda-color4: #aaa;
  --aoda-color5: #f3f4f7;
  --aoda-color6: #3b7ff3;
  --aoda-color7: #fff;
  --aoda-color8: #fff;
  --aoda-color9: #fff;
  --aoda-color10: #fff;
  --aoda-color11: #fff;
  --aoda-color12: #fff;
  --aoda-color13: #fff;
  --aoda-color14: #fff;
  --aoda-color15: #fff;
  --aoda-color16: #fff;
  --aoda-color17: #fff;
  --aoda-color18: #fff;
  --aoda-color19: #fff;
  --aoda-color20: #fff;

  // 2.字体
  --aoda-font-family1: 'PingFangSC-Medium', 'PingFang SC', -apple-system,
    blinkmacsystemfont, 'Helvetica Neue', helvetica, segoe ui, arial, roboto,
    'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  --aoda-font-family2: avenir-heavy, 'PingFang SC', 'Helvetica Neue', arial,
    sans-serif;

  // 3.字号
  --aoda-font-size1: 16px;
  --aoda-font-size2: 20px;

  // 4.行高
  --aoda-line-height1: normal;
}
