/*
 * @description 效果
 * @author aodazhang 2022.05.10
 */

/****************************** 一.clip-path裁切 ******************************/

// 1.路径：不会改变容器尺寸
@mixin clip($clipPath: inset(10px 10px)) {
  clip-path: $clipPath; // inset(长x 宽y) 矩形 | circle(半径 at 圆心x 圆心y) 圆形
}

// 2.svg：不会改变容器尺寸
@mixin clip-svg($svgId: '#clip') {
  clip-path: url('#{$svgId}');
}

/****************************** 二.cursor鼠标手势 ******************************/

// 1.系统
@mixin cursor($cursor: pointer) {
  cursor: $cursor; // default默认箭头 | pointer可点击 | move移动
}

// 2.本地
@mixin cursor-locale(
  $baseUrl,
  $imageName,
  $imageExtension: 'png',
  $cursor: default
) {
  cursor: url('#{$baseUrl}/#{$imageName}.#{$imageExtension}') $cursor;
}

// 3.网络
@mixin cursor-network($url, $cursor: default) {
  cursor: url('#{$url}') $cursor;
}

/****************************** 三.selection处理 ******************************/

// 1.鼠标选中时(pc)
@mixin selection($color: var(--aoda-color4), $backgroundColor: transparent) {
  &::selection {
    color: $color; // 选中文本颜色
    background-color: $backgroundColor; // 选中背景颜色
  }
}
