/*
 * @description css重置
 * @author aodazhang 2022.05.10
 */

// 1.document
html {
  // 设置css字体抗锯齿
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // 解决移动端触摸元素出现半透明灰色遮罩
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);

  // 解决苹果设备滚动不流畅
  -webkit-overflow-scrolling: touch;

  // 禁止移动端浏览器旋转屏幕时改变字体大小
  text-size-adjust: 100%;

  // 默认字色
  color: var(--aoda-color2);

  // 默认字宽
  font-weight: normal;

  // 默认字号
  font-size: var(--aoda-font-size1);

  // 默认字体
  font-family: var(--aoda-font-family1);

  // 默认字行高：normal兼容安卓
  line-height: var(--aoda-line-height1);

  // 解决新版chorme默认行为报错问题：触摸事件都不会产生默认行为，但是touch事件照样触发
  touch-action: none;
}

// 2.常见块、行内
body,
div,
section,
header,
main,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
strong,
span {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
}

h1,
h2 {
  // 标题字重
  font-weight: bold;

  // 标题字号
  font-size: var(--aoda-font-size2);
}

// 3.有序、无序列表
ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

// 4.媒体
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  border: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;

  // 图片按比例铺满容器
  object-fit: cover;

  // 图片内容采用 center 方式进行居中
  object-position: center;
  border: none;
}

// 5.超链接
a {
  // 修正链接标签的下划线样式
  text-decoration: none; // 移除链接标签默认的下划线
  // 指定内联文字的下划线
  text-decoration-skip: objects; // 删除iOS8+和Safari8+中下划线链接的间隙
  background-color: transparent; // 移除IE10中活动链接标签上的灰色背景

  &:active,
  &:hover {
    // 移除链接标签点击和悬停的outline样式
    outline-width: 0;
  }
}

// 6.代码
code,
kbd,
samp {
  font-size: 1em;
  font-family: monospace;
}

// 7.表单
input {
  margin: 0;
  padding: 0;
  outline: none;
}

textarea {
  margin: 0;
  padding: 0;
  overflow: auto;
  outline: none;
}

button {
  margin: 0;
  padding: 0;
  text-transform: none;
  border-style: 0;
  outline: none;
}

button [type='button'],
[type='reset'],
[type='submit'] {
  // 修正按钮标签/类型button、reset、submit的显示问题（Android4-）：指定元素以按钮形式呈现
  appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  // 移除按钮标签/类型button、reset、submit点击状态下的内边距和边框样式（Firefox）
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  // 修正按钮标签/类型button、reset、submit焦点状态下的outline样式（Firefox）
  outline: 1px dotted ButtonText;
}

[type='checkbox'],
[type='radio'] {
  // 修正属性type为checkbox/radio的标签盒模型和内边距（IE10-）
  box-sizing: border-box;
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  // 修正属性type为number的标签递增和递减按钮的光标样式（Chrome）
  height: auto;
}

[type='search'] {
  // 修正属性type为search的标签以文本框形式呈现和outline样式（Chrome、Safari）
  outline-offset: -2px;
  appearance: textfield;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  // 修正属性type为search的标签内部填充取消按钮样式（Chrome、Safari）
  appearance: none;
}

::-webkit-file-upload-button {
  // 修正input上传文件按钮和文字样式（Safari）
  font: inherit;
  appearance: button;
}

[hidden] {
  // 修正属性hidden时标签显示类型
  display: none;
}
